{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout_semantic.html.twig' %}

{% form_theme form
    '@SyliusUi/Form/theme.html.twig'
    '@SfsCms/forms/routes_theme_semantic.html.twig'
    '@SfsCms/forms/types_theme_semantic.html.twig'
%}

{% block title %}{{ ('admin_'~content_type~'.translations.meta.title')|trans({'%name%':content_entity.name}) }}{% endblock %}

{% block header_title %}{{ ('admin_'~content_type~'.translations.title')|trans({'%name%':content_entity.name, '%versionNumber%': content_entity.versionNumber|default('0')}) }}{% endblock %}
{% block header_subtitle %}Manage your page{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section"
       href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">{{ ('admin_'~content_type~'.translations.breadcrumb')|trans({'%name%':content_entity.name}) }}</a>
{% endblock breadcrums_content %}

{% block content %}
    {% include ['@content/'~content_type~'/admin/_content_tabs.html.twig', '@SfsCms/admin/content/_content_tabs.html.twig']  with {'current':'translations', 'content':content_entity, 'entity':version_entity} %}
    <div class="ui bottom attached active tab segment">
        <div class="ui right aligned grid clearing" style="margin-bottom: 0">
            <div class="ui buttons column">
                <a class="ui blue labeled icon button disabled" href="">
                    <i class="icon upload"></i>
                    {{ ('admin_'~content_type~'.translations.actions.import_translations.link')|trans }}
                </a>

                <a class="ui red labeled icon button disabled" href="">
                    <i class="icon download"></i>
                    {{ ('admin_'~content_type~'.translations.actions.export_translations.link')|trans }}
                </a>
            </div>
        </div>
        {% set colors = [ 'primary', 'secondary', 'info', 'success', 'warning', 'danger' ] %}

        {{ form_start(form,{'attr':{'class':'ui form clearing'}}) }}
        <table class="ui table">
            <tr>
                <th style="width: 10%">&nbsp;</th>
                {% for i, locale in content_entity.locales %}
                    <th>
                        <div
                            class="bg-{{ colors[i]|default('dark') }} ui center aligned icon header text-{{ colors[i]|default('dark') }}">
                            <i class="language icon image"></i>
                            {{ locale }}
                        </div>
                    </th>
                {% endfor %}
            </tr>

            {% set module_type = '' %}
            {% set module = '' %}
            {% for field in form|filter( (field) => field.vars.attr['data-module']|default(false) ) %}
                {% if field.vars.attr['data-module-type'] != module_type or field.vars.attr['data-module'] != module %}
                    {% set module_type = field.vars.attr['data-module-type'] %}
                    {% set module = field.vars.attr['data-module'] %}
                    <tr>
                        <td colspan="50" class="ui header">
                            {{ field.vars.attr['data-module']|split(':')|join(' > ') }}
                            {% if module_type != 'seo' %}
                                &gt; <strong>{{ (module_type~'.label')|trans({}, 'sfs_cms_modules') }}</strong>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    {#<td>{{ field.vars.name }}</td>#}
                    <td>
                        {% if module_type == 'seo' %}
                            {{ ('admin_page.form.seo.'~field.vars.attr['data-module-field']~'.label')|trans({}, 'sfs_cms_contents') }}
                        {% else %}
                            {{ (module_type~'.form.'~field.vars.attr['data-module-field']~'.label')|trans({}, 'sfs_cms_modules') }}
                        {% endif %}
                        {{ form_widget(field._trans_id) }}
                        {{ form_widget(field._default) }}
                    </td>

                    {% for locale in content_entity.locales %}
                        <td>
                            {{ form_widget(field.offsetGet(locale)) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        {{ form_rest(form) }}

        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}"
               class="btn btn-outline-secondary">{{ ('admin_'~content_type~'.translations.actions.cancel.button')|trans }}</a>
            <input type="submit" value="{{ ('admin_'~content_type~'.translations.actions.save.button')|trans }}"
                   class="btn btn-primary ms-3"/>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
